.archive .term-description > p:nth-child(n+2){
	display: none;
}
.readmore-wrapper {
    text-align: center;
	margin-top: 30px;
}
.term-description .read-more{
    text-transform: capitalize;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 24px 46px;
    display: inline-flex;
    font-size: 1.143rem ;
    line-height: 1;
    align-items: center;
	cursor: pointer;
	transition: all 0.3s ease;
	gap: 5px;
	color: #fff !important;
	flex-direction: row-reverse;
}
/* .term-description .read-more:hover{
	background-color: #4CD43B;
} */
.term-description .read-more .caron{
	display: flex;
}
.term-description .read-more .caron svg{
	--size: 18px;
	height: var(--size);
	width: var(--size);
	fill: #fff;
}
.term-description{
	margin-bottom: 86px;
}

@media screen and (max-width: 767px){
	.term-description{
		margin-bottom: 50px;
	}
}